@import ../../node_modules/reset-css/reset
@import 'mixin/mixin'

body
  font-family: yu-mincho-5go-kana, sans-serif
  font-weight: 400
  text-align: center
  user-select: none

.container
  @include container

  &__text
    @include flexCenter

    &--item
      @include textArea

      &:hover
        @include hoverText

      &:not(:last-child)
        margin-bottom: 40px

      p
      @include textSet

  &__img

    &--item
      @include imgArea

      img
        height: 100vh

.on
  opacity: 1 !important
  transform: scale(1.0) !important
