@import '../../node_modules/reset-css/reset'
@import 'mixin/mixin'

body
  font-family: yu-mincho-5go-kana, sans-serif
  font-weight: 400
  text-align: center
  user-select: none

.container
  @include container

  &__inner
    @include flexCenter

    & > *:nth-child(odd)
      @include textArea
      margin-bottom: 40px

      &:hover
        @include hoverText

      p
      @include textSet

    &--text01
      &:hover + .container__inner--img01
        @include hoverImg

    &--text02
      &:hover + .container__inner--img02
        @include hoverImg

    &--text03
      margin-bottom: 0 !important
      &:hover + .container__inner--img03
        @include hoverImg

    & > *:nth-child(even)
      @include imgArea

      img
        height: 100vh
