doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href='./css/style.css' rel='stylesheet')
    title Sakamichi Group Hover
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    .container
      ul.container__text
        li.container__item(ontouchstart='')
          a(href='./pages/OnlyCSS.html') Only CSS
        li.container__item(ontouchstart='')
          a(href='./pages/JavaScriptCSS.html') Javascript & CSS
  
    script(src='./js/typekit.js' type='text/javascript')
