doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="./css/style.css" rel="stylesheet")
    title Gulp Test
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    .container
      .container__inner
        .container__inner--text#t1
          p ひらて ゆりな
        .container__inner--text#t2
          p にしの ななせ
        .container__inner--text#t3
          p よだ ゆうき
      .container__img01#p1
      .container__img02#p2
      .container__img03#p3

    script(src="./js/typekit.js" type="text/javascript")
    script(src="./js/index.js" type="text/javascript")
