doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href='./css/style.css' rel='stylesheet')
    title Gulp Test
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    .container
      .container__text
        .container__text--item(ontouchstart='')
          a(href='./pages/page01.html') Only CSS
        .container__text--item(ontouchstart='')
          a(href='./pages/page02.html') Javascript & CSS
  
    script(src='./js/typekit.js' type='text/javascript')
