doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href='../css/page01.css' rel='stylesheet')
    title Gulp Test
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    .container
      .container__inner
        .container__inner--text01(ontouchstart='')
          p ひらて ゆりな
        .container__inner--img01
          
        .container__inner--text02(ontouchstart='')
          p にしの ななせ
        .container__inner--img02
          
        .container__inner--text03(ontouchstart='')
          p いとう まりか
        .container__inner--img03

    script(src='../js/typekit.js' type='text/javascript')
