doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="../css/page01.css" rel="stylesheet")
    title Gulp Test
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    .container
      .container__inner
        .container__inner--item
          .container--text01
            p ひらて ゆりな
          .container--img01
          .container--text02
            p にしの ななせ
          .container--img02
          .container--text03
            p いとう まりか
          .container--img03

    script(src="../js/typekit.js" type="text/javascript")
