doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href='../css/page02.css' rel='stylesheet')
    title Gulp Test
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    .container
      .container__text#container__text
        .container__text--item(ontouchstart='')
          p ひらて ゆりな
        .container__text--item(ontouchstart='')
          p にしの ななせ
        .container__text--item(ontouchstart='')
          p いとう まりか
      .container__img#container__img
        .container__img--item

    script(src='../js/typekit.js' type='text/javascript')
    script(src='../js/index.js' type='text/javascript')
