/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: yu-mincho-5go-kana, sans-serif;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  height: 100vh;
  width: 100vw;
}

.container__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.container__yurinaHirate, .container__nanaseNishino, .container__marikaIto {
  cursor: pointer;
  padding: 20px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.container__yurinaHirate:hover, .container__nanaseNishino:hover, .container__marikaIto:hover {
  background: #fff;
  opacity: 0.8;
}

.container__yurinaHirate p, .container__nanaseNishino p, .container__marikaIto p {
  font-size: 30px;
  letter-spacing: 2px;
}

.container__yurinaHirate:hover + .container__target, .container__nanaseNishino:hover + .container__target, .container__marikaIto:hover + .container__target {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container__yurinaHirate, .container__nanaseNishino {
  margin-bottom: 40px;
}

.container__target {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  height: 100%;
  width: 100%;
}

.container__target img {
  height: 100vh;
}
